@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --accent-color: green;
    --gradient-1: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
}

body {
    min-height: 100vh;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

