.placesCard {
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
}

.placesCard img {
    height: 300px;
}

.placesCard a {
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 0.6rem;
    color: var(--accent-color);
}

.placesCard a:hover {
    color: white;
    background-color: var(--accent-color);
}

.placesCardContent {
    margin: 1rem 3rem;
    width: 25vw;
}

.placesCardContent h1 {
    margin-bottom: 1rem;
    font-family: 'Lobster';
}