.modalbg {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCard {
    margin: 2rem;
    background-color: white;
    width: 75vw;
    height: 90vh;
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.modalContent {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.modalClose{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.modalContentText h1 {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.modalContentText p {
    display: block;
    width: 500px;
}

.modalContent a {
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
    transition: 300ms ease-out;
}
