.root {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-width: 600px;
    /* width: 75%; */
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delBtn {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 2.6rem;
}

.cardBottom {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}