.backdrop {
    background-image: url(./unsplash-david-marcu.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.nav {
    padding: 3rem 3rem;
    height: 5rem;
    color: white;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    font-size: 1.2rem;
}

.nav ul li {
    display: inline-block;
    margin: 0 0.8rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    transition: 250ms ease-out;
}

.nav ul li:hover {
    background-color: white;
    color: black;
}


.brandTitle {
    font-size: 3.2rem;
    font-family: 'Lobster', cursive;
}

.cardContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurredCard {
    margin: 1rem;
    padding: 5rem;
    border-radius: 2.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    font-size: 2rem;
    mix-blend-mode: screen;
    font-family: 'Lobster', cursive;
}

.body {
    width: 100%;
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    padding: 2rem 4rem;
    mix-blend-mode: screen;

}

.quote {
    margin: 2rem 0 10rem 0;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
    mix-blend-mode: screen;
}


.featuresContainer {
    margin: 4rem;
    display: flex;
    justify-content: space-around;
}

.featuresCard {
    max-width: 20vw;
    padding-left: 2rem;
    border-left: 2px solid black;
}

.featuresCard h1 {
    margin-bottom: 0.8rem;
}

.featuresCard p {
    margin-bottom: 0.4rem;
}

.CTA {
    padding: 4rem;
}

.CTA h1 {
    width: 80vw;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.CTA ul {
    margin-top: 1.8rem;
    font-size: 1.4rem;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    display: flex;
}

.CTA ul li {
    display: block;
    height: 100px;
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
}

.CTA ul li:nth-child(2) {
    flex: 2;
}
