.root {
    background-image: url(./unsplash-silas-baisch-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.body {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    width: 85vw;
    border-radius: 2rem;
    min-height: 100vh;
    padding: 2rem;
}