.nav {
    padding: 3rem 3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav ul {
    list-style-type: none;
    font-size: 1.2rem;
}

.nav ul li {
    display: inline-block;
    margin: 0 0.8rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    transition: 250ms ease-out;
}

.nav ul li:hover {
    background-color: white;
    color: black;
}

.nav ul li:hover .link {
    color: black;
}

.brandTitle {
    font-size: 3.2rem;
    font-family: 'Lobster', cursive;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: black;
}
